<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="/static/angular.min.js"></script>
    <script src="/static/controller.js"></script>
    <!-- test data
    <script src="builds.js"></script>
    -->
    <title>jenkins-watcher: Jenkins Builds</title>

    <link rel = StyleSheet href = "static/style.css" type = "text/css"/>
</head>

<body ng-app="jenkinsWatcher">
<div ng-controller="mainController" align="center">
    <br />
    <h2>Watched Jenkins Builds</h2>
    <br />
    <div>
        <div align="left">
            <span ng-show="buildsStats">
                <div>Current time: <span class="bold_text">{{ buildsStats.current_time}}</span></div>
                <div>Displayed <span class="bold_text">{{ buildsStats.num_builds }}</span> total builds
                     run in the last <span class="bold_text">{{ buildsStats.days_limit }} day(s).</span></div>
                <div>Displayed statistics last update at:
                    <span class="bold_text">{{ buildsStats.builds_statistics_model_last_update_at }}</span></div>
            </span>
        </div>
        <br />

        <div align="left">How many days back:
            <select ng-model="daysLimitSelection" ng-options="item.value for item in daysLimit">
                <option value="">1</option>
            </select>
        </div>
        <br />
        <div align="left">
            <button ng-click="reload_page();">Refresh</button>
        </div>
        <br />
        <hr>
        <div align="left">
            <div>P = passed, F = failed, S = skipped, E = error (number of test case result occurrences)</div>
            <div>timestamps - start of a build in CET/CEST times</div>
            <br />
            <div>
                <span class="SUCCESS">successful build</span>&nbsp;
                <span class="FAILURE">failed build</span>&nbsp;
                <span class="ABORTED">aborted build (took too long)</span>&nbsp;
            </div>
        </div>
        <br />
        <hr>
        <br />
        <br />

        <div ng-repeat="(job_name, builds_history) in buildsStats.builds" align="left">
            <div>
                <span><h4>{{ job_name }}</h4></span>
                <div>
                    <table>
                        <tr ng-repeat="build in builds_history"
                            class="{{ build.status}}">
                            <td class="bold_text">#{{ build.build_id }}</td>
                            <td>{{ build.timestamp }}</td>
                            <td>{{ build.duration }}</td>
                            <td>P:&nbsp;{{ build.passed }}</td>
                            <td class="{{ build.status }}">
                                F:&nbsp;{{ build.failed }}</td>
                            <td>S:&nbsp;{{ build.skipped }}</td>
                            <td>E:&nbsp;{{ build.error }}</td>
                            <td><a target=_new href="https://hz10.endpoint.com/job/{{ job_name }}/{{ build.build_id }}/console">output</a>
                            </td>
                        </tr>
                    </table>
                </div>
                <hr>
                <br />
                <br />
            </div>
        </div>
        <span ng-show="myErrorMessage" align="center">
            <br />
            <br />
            <div><h4>Error occurred: {{ myErrorMessage }}</h4></div>
        </span>
    </div>

    <div ng-show="showSpinner" id="loadingshadowdivid" class="displayed">
        <div class="loadingsigncentered">
            <img src="/static/loading.gif"></img>
        </div>
    </div>

</div>
</body>
</html>
